
@{
    ViewBag.Title = "Guitars";
}
@section Styles {
    <style>
        .danGuitarDiv {
            float:left;
        }
        .danGuitarImg{
            max-height: 400px;
        }
    </style>

}
<h2>Guitars</h2>

<div class="danDiv danGuitarDiv">
    <div class="danNote">
        My 1st electric guitar ~1974 - a Univox!
    </div>
    <img src="~/media/guitar/Univox74.png" class="Ximg-responsive danGuitarImg" alt="Univox74">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
        1979 - I didn't have this long. It got stolen at a high-school talent show. It got recovered but I'd already used the insurance money to buy the Les Paul.
    </div>
    <img src="~/media/guitar/Gibson79.png" class="Ximg-responsive danGuitarImg" alt="Gibson">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
        Awesome guitar - way beyond my needs! 1979(?)
    </div>
    <img src="~/media/guitar/Les-Paul.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
    </div>
    <img src="~/media/guitar/FenderMusicManBass.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
    </div>
    <img src="~/media/guitar/IbanezJS100BK.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
    </div>
    <img src="~/media/guitar/IbanezJS100Red.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
    </div>
    <img src="~/media/guitar/Peavey.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
    </div>
    <img src="~/media/guitar/Red-Strat.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
    </div>
    <img src="~/media/guitar/BlackStrat.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>

<div class="danDiv danGuitarDiv">
    <div class="danNote">
    </div>
    <img src="~/media/guitar/Kramer-Acoustic.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>


