
@{
    ViewBag.Title = "Guitars";
}
@section Styles {
    <style>
        .danGuitarDiv {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
        .danGuitarImg{
            max-height: 500px;
            max-width: 300px;
        }
    </style>
}
<h2>Guitars</h2>

<div class="danDiv danGuitarDiv">
    <p class="danNote">
        My 1st electric guitar ~1974 - a Univox!
    </p>
    <img src="~/media/guitar/Univox74.png" class="img-responsive danGuitarImg" alt="Univox74">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
        1979 - I didn't have this long. It got stolen at a high-school talent show. It got recovered but I'd already used the insurance money to buy the Les Paul.
    </div>
    <img src="~/media/guitar/Gibson79.png" class="Ximg-responsive danGuitarImg" alt="Gibson">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
        Awesome guitar - way beyond my needs! 1979(?) 
    </div>
    <img src="~/media/guitar/Les-Paul.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
        I had this bass forever and would still have it if not for the move to Hawaii. 
        I ended up selling it to some young guy in Portland CHEAP because he was so nice and adamant about how much he wanted it.
        Rock on, dude!
    </div>
    <img src="~/media/guitar/FenderMusicManBass.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
        Decided it was time for another Floyd Rose equipped guitar and really liked this guitar.
        Then it got stolen in home burglary...
    </div>
    <img src="~/media/guitar/IbanezJS100BK.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
        ... so I bought another. Can't remember why I sold this - probably not wise.
    </div>
    <img src="~/media/guitar/IbanezJS100Red.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
        I liked the Ibanez JSs enough to want one without the trem - which are a bit of a pain and dull the tone.
        It took me a while to find one and this was the 1st guitar I bought through the mail.
        It was fairly crappy and not nearly well made as the others so it didn't last long.'
    </div>
    <img src="~/media/guitar/Ibanez JS 100.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
    </div>
    <img src="~/media/guitar/Peavey.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
    </div>
    <img src="~/media/guitar/Red-Strat.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>
<div class="danDiv danGuitarDiv">
    <div class="danNote">
    </div>
    <img src="~/media/guitar/BlackStrat.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>

<div class="danDiv danGuitarDiv">
    <div class="danNote">
    </div>
    <img src="~/media/guitar/Kramer-Acoustic.png" class="Ximg-responsive danGuitarImg" alt="Les-Paul">
</div>


