@{
    ViewBag.Title = "Home Page";
}
<div>
    <a href="https://www.instagram.com/holtdan1/" target="_blank">Instagram</a>
</div>
<div>
    <a href="https://www.youtube.com/user/DanielEHolt" target="_blank">YouTube</a>
    <a href="https://www.youtube.com/playlist?list=PLRWijeR0jUwjVn_w9nRHSsgV47gPN2FAC" target="_blank">YouTube - Myne Guitar Playlist</a>
</div>
<div>
    <a href="https://www.deviantart.com/holtdan" target="_blank">DeviantArt</a>
</div>
<div>
    <iframe width="420" height="480" scrolling="no" frameborder="0"
            src="https://w.soundcloud.com/player/?url=https%3A//soundcloud.com/HoltDan&show_artwork=false"></iframe>
</div>