@{
        ViewBag.Title = "Scales";
        Layout = "~/Views/Shared/_LayoutMinimal.cshtml";

        var _notes = new List<string> { "C", "C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B" };
    var _totalSteps = 15;
    }
    @section Styles
    {
    
}
<div id="danMenu">
    <div id="pickKey">Key</div>
</div>
<div class="selKey" id="selKey">
    @for (int i = 0; i < _notes.Count(); i++)
    {
        <div class="optSelect @(_notes[i].Length > 1 ? "optSelectAccidental" : "")" data-key="@i">@_notes[i]</div>
    }
</div>
<div id="base">
    @for (int i = 0; i < _totalSteps; i++)
    {
    <div class="row step interval@(i%7)" id="step@(i)">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 noteName interval@(i%7)"></div>
        <div class="col-xs-1 chordForm"></div>
        <div class="col-xs-1 innerInterval interval0" title="root"></div>
        <div class="col-xs-1 innerInterval interval2" title="3rd"></div>
        <div class="col-xs-1 innerInterval interval4" title="5th"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1 innerInterval interval6" title="7th"></div>
    </div>
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        let scales = new Scales();
    </script>
}
