@*
    Displays a Folder's Notes.html fils and all the songs
*@
@model HoltDan.Models.DirMgr
@{
    ViewBag.Title = "SongAlbum";
    if (ViewBag.MinimalLayout != null)
    {
        Layout = "~/Views/Shared/_LayoutMinimal.cshtml";
    }
}
<div class="danSongAlbum">
    <div class="danNotes">@Html.Raw(Model.Notes)</div>
    <div class="danTransport">
        <div class="danMediaButton danPlayPauseButton danPlayPauseAllButton">
            <b class="glyphicon glyphicon-play"></b>
        </div>
    </div>
    <div class="danTitle">@Model.Title</div>
    <div class="danSongList">
        @{
            var trackNum = 0;
            foreach (var f in Model.Files)
            {
                if (f.AudioFileInfo != null) // not some file laying around
                {
                    var useTitle = !string.IsNullOrWhiteSpace(f.AudioFileInfo.Title) ? f.AudioFileInfo.Title
                        : f.AudioFileName.Substring(f.AudioFileName.LastIndexOf("\\") + 1);
                    Html.RenderPartial("_Song", new SongViewModel(trackNum++, f.AudioFileName, useTitle, f.Notes, f.SecondsDuration));
                }
            }
        }
    </div>
</div>
<audio id="audioPlayer" src="">
    Your browser does not support the audio format.
</audio>
@section Scripts
{
    <script type="text/javascript">
        let audioMgr = new DanAudioMgr("audioPlayer", ".danSongAlbum",
            function (triggerElem, eventName, currSecs) {
                var $t = $(triggerElem);
                var $p = $t.closest(".danSong");
                var $title = $p.find(".danTitle");
                var $prog = $p.find(".danProgress");
                var $bar = $p.find(".danProgressBar");
                if (eventName == "onplay") {
                    $(".danPlayPauseButtonActive").removeClass("danPlayPauseButtonActive")
                    //$(".danProgress").css("display", "none")
                    $title.addClass("danPlayPauseButtonActive")

                    $bar.width = 0;
                    $prog.addClass("danProgressShow")
                }
                else if (eventName == "onstop" || eventName == "onended") {
                    $title.removeClass("danPlayPauseButtonActive")
                    $prog.removeClass("danProgressShow").addClass("danProgressHide")
                }
                else if (eventName == "ontimeupdate") {
                    var totSecs = $t.data("secsdur")
                    $bar.css("width", (Math.round((currSecs / totSecs) * 100)) + "%")
                }
            });
        var first = true;
        $(".danPlayPauseButton").click(function () {
            //alert("Click!")
            if (first) {
                $(".danPrevMediaButton,.danNextMediaButton").removeClass("danScaleOut")
                $(".danPrevMediaButton,.danNextMediaButton").addClass("danScaleIn")
            }
            else {
                $(".danPrevMediaButton,.danNextMediaButton").removeClass("danScaleIn")
                $(".danPrevMediaButton,.danNextMediaButton").addClass("danScaleOut")
            }
            first = !first;
        })
    </script>
}
