@{
    Page.Title = "T3 Enemies";
    Layout = "~/Views/Shared/_LayoutTurok.cshtml";
}
<h1>Turok 3 Enemies</h1>
@(DirMgr.ImgSet("imgSet", "imgDiv", "Enemies", false, Server.MapPath("~/media/Turok/images/t3/"), "t3enemy_*.jpg"))
