@model IEnumerable<string>
@{
    var collapse = ViewData["collapse"] as bool?;
}
    @foreach (var album in Model)
    {
        <div class="danAlbum" data-album-name="@album">
            @album
        </div>
    }
