<?xml version="1.0" encoding="utf-8" ?>
<photos>
  
  <!--  -->
  <galleries>
    <gallery id="family">
      <text>Family</text>
      <root>Family</root>
      <listed>true</listed>
    </gallery>
    <!--  -->
    <gallery id="cristina">
      <text>Cristina</text>
      <root>Photos/Cristina</root>
      <listed>true</listed>
    </gallery>
    <gallery id="david">
      <text>David</text>
      <root>Photos/David</root>
      <listed>true</listed>
    </gallery>
    <!--  -->
    <!--<gallery>
      <text></text>
      <root></root>
    </gallery>-->
  </galleries>
  <intervals>
    <interval>
      <timespan>0:0:5</timespan>
      <text>5 sec.</text>
    </interval>
    <interval>
      <timespan>0:0:10</timespan>
      <text>10 sec.</text>
    </interval>
    <interval>
      <timespan>0:0:30</timespan>
      <text>30 sec.</text>
    </interval>
    <interval>
      <timespan>0:1:0</timespan>
      <text>1 min.</text>
    </interval>
    <interval>
      <timespan>0:5:0</timespan>
      <text>5 min.</text>
    </interval>
    <interval>
      <timespan>0:10:0</timespan>
      <text>10 min.</text>
    </interval>
    <interval>
      <timespan>0:30:0</timespan>
      <text>30 min.</text>
    </interval>
    <interval>
      <timespan>1:0:0</timespan>
      <text>1 hr.</text>
    </interval>
  </intervals>
</photos>
