@siteBgColor: black;
@siteDivBgColor: #404040;
@siteDivFgColor: white;

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: @siteBgColor;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/**********************************************************************************/
.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
.border-radius-left(@radius: 5px) {
  -webkit-border-left-radius: @radius;
     -moz-border-left-radius: @radius;
          border-top-left-radius: @radius;
          border-bottom-left-radius: @radius;
}
.border-radius-left {
  -webkit-border-left-radius: 5px;
     -moz-border-left-radius: 5px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
}
.border-radius-right {
  -webkit-border-right-radius: 5px;
     -moz-border-right-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
}
/**********************************************************************************/
/* Got all this here: http://cssdeck.com/labs/responsive-image */
img.ri
{
	position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

img.ri:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  img.ri {
      max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  img.ri {
      max-height: 90%;
  }
}
/****************************************************************************************/
/****************************************************************************************/
.siteDiv{
    .border-radius();
    padding: 1em;
    margin-bottom: 1em;
    background-color: @siteDivBgColor;
    color: @siteDivFgColor;
}
.scrollDiv {
    .siteDiv();
    height: 100vh;
    overflow:auto;
}
.siteSection{
    font-size:large;
    font-weight: bold;
}
