@import "bootstrap/variables";
@import "bootstrap/mixins";

@danActiveColor:  #5cb85c;
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #202020;
    color: lightgray;
}
.danDiv(){
    border-radius: 5px;
    border-color: lightgray;
    margin: 5px;
    padding: 5px 10px;
    background-color: #404040;
    background-color: #404040;
    border-style: solid;
    border-width: 1px;
}
.danActive{
    color: @danActiveColor !important;
}
.danTitle{
    /*font-family:'Dekko, Allerta Stencil,Alegreya Sans SC';*/
    /*font-family: 'Nova Flat';*/
    font-family: 'Segoe Print';
    font-size:x-large;
    color: white;
    text-align:center;
    display: inline-block;
}
.danNotes{
    margin-top: 5px;
}
.danSong{
    .danDiv;
    width: 100%;
}
.danSongAlbum{
    .danSong;
    border-style: solid;
    border-width: 1px;
}
.danButton{
    margin-right: 10px;
}
.danPlayPauseButton{
    .danButton;
    min-height: 30px;
    min-width: 40px;
}
.danPlayPauseButtonActive{
    animation: danThrob 2s infinite;
    color: @danActiveColor;
}
/*.danButton:hover{
    font-size:large;
}
.danButton:active{
    font-size:smaller;
}*/
.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #3344ff;
    color:#ffffff;
  }
/*select, .dropdown-menu{
    color: white;
    background-color: black !important;
}
option:checked { 
    background-color: red; 
    color:black;
}

option:not(:checked) { color: #ffd800; }*/
.scrollDiv {
    height: 100vh;
    overflow:auto;
}
/**********************************************************************************/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/**********************************************************************************/
/* Got all this here: http://cssdeck.com/labs/responsive-image */
img.ri
{
	position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}
img.ri:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
@media screen and (orientation: portrait) {
  img.ri {
      max-width: 90%;
  }
}
@media screen and (orientation: landscape) {
  img.ri {
      max-height: 90%;
  }
}

@keyframes danThrob{
    0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
