/*@import "bootstrap/variables";
@import "bootstrap/mixins";*/

@danActiveColor:  lightgray;
@danActiveColorPeak:  white;
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #202020;
    color: lightgray;
    /*font-family:'Dekko, Allerta Stencil,Alegreya Sans SC';*/
    /*font-family: 'Nova Flat';*/
    font-family: 'Segoe Print';
}
.danDiv(){
    border-radius: 5px;
    border-color: lightgray;
    margin: 5px;
    padding: 5px;
    background-color: #404040;
    background-color: #404040;
    border-style: solid;
    border-width: 1px;
}
.danActive{
    color: @danActiveColor !important;
}
.danTitle{
    /*margin-top: 5px;*/
    font-size:x-large;
    color: white;
    text-align:center;
    display: inline-block;
}
.artistName{
    color: black;
    font-weight: bold;
}
.danNotes{
    /*margin-top: 5px;*/
}
.danAlbumList {
    .danDiv;
    width: 100%;
}
.danAlbum {
    .danDiv;
    width: 100%;
}
.danSongList {
    .danDiv;
    width: 100%;
}
.danSong{
    .danDiv;
    width: 100%;
}
.danSongAlbum{
    .danSong;
    border-style: solid;
    border-width: 1px;
}
.danTransport {
    display: inline-block;
}
.danButton{
    margin-right: 10px;
}
.danMediaButton{
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0);
    padding-top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.danMediaButton:hover{
    border-color: lightgray;
}
.danPlayPauseButton {
    .danMediaButton;
}
.danPrevMediaButton .danNextMediaButton{
    .danMediaButton;
    transform: scale(0);
}
.danPlayPauseButtonActive{
    transform-origin: left center;
    animation: danThrob 3s infinite;
    color: @danActiveColor;
}
.danScaleIn{
    animation: scaleIn 1s linear forwards;
}
.danScaleOut{
    animation: scaleOut 1s linear forwards;
}
.danFadeIn {
    animation: fadeIn 1s linear forwards;
}
.danFadeOut {
    animation: fadeOut 1s linear forwards;
}
.danSlideIn {
    animation: slideIn 600ms linear forwards;
}
.danSlideOut {
    animation: slideOut 600ms linear forwards;
}
@keyframes scaleIn{
    from{transform: scale(0);}
    to{transform: scale(1);}
}
@keyframes scaleOut{
    from{transform: scale(1);}
    to{transform: scale(0);}
}
@keyframes fadeIn {
    from {
        transform: opacity(0);
    }

    to {
        transform: opacity(1);
    }
}

@keyframes fadeOut {
    from {
        transform: opacity(1);
    }

    to {
        transform: opacity(0);
    }
}
@keyframes slideIn {
    from {
        left: 100%;
    }

    to {
        left: 90%;
    }
}

@keyframes slideOut {
    from {
        left: 90%;
    }

    to {
        left: 100%;
    }
}
.danProgressShow{
    display: inline-block;
    animation: danProgBarReveal 2s forwards;
}
.danProgressHide{
    animation: danProgBarHide 2s;
}
@progBarWidth: 100px;
.danProgress{
    display: inline-block;
    width: 0px;
    margin-top: 5px;
    margin-right: 10px;
    background-color: gray;
}
.danProgressBar {
    width: 1%;
    height: 10px;
    background-color: @danActiveColor;
}
@keyframes danThrob{
    0% {
    transform: scale(1);
    color: @danActiveColor;
  }
  60% {
    transform: scale(1.5);
    color: @danActiveColorPeak;
  }
  100% {
    transform: scale(1);
    color: @danActiveColor;
  }
}
@keyframes danProgBarReveal{
    0% {
    width: 0;
  }
  40% {
    width: 80px;
  }
  60% {
    width: 40px;
  }
  100% {
    width: @progBarWidth;
  }
}
@keyframes danProgBarHide{
    0% {
    width: @progBarWidth;
  }
  100% {
    width: 0;
  }
}
/*.danButton:hover{
    font-size:large;
}
.danButton:active{
    font-size:smaller;
}*/
.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #3344ff;
    color:#ffffff;
  }
/*select, .dropdown-menu{
    color: white;
    background-color: black !important;
}
option:checked { 
    background-color: red; 
    color:black;
}

option:not(:checked) { color: #ffd800; }*/
.scrollDiv {
    height: 100vh;
    overflow:auto;
}
.scrollDivTop {
    height: 8em;
    overflow: auto;
}
/**********************************************************************************/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/**********************************************************************************/
/* Got all this here: http://cssdeck.com/labs/responsive-image */
img.ri
{
	position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}
img.ri:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
@media screen and (orientation: portrait) {
  img.ri {
      max-width: 90%;
  }
}
@media screen and (orientation: landscape) {
  img.ri {
      max-height: 90%;
  }
}
